@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --text-primary: #0f172a;
  --text-secondary: #475569;

  --border-color: #e2e8f0;

  --text-h1: 1.25rem;
  --text-h3: 0.875rem;
  color-scheme: light;
}

[data-theme="dark"] {
  --background: #000;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --border-color: #1d293d;
  color-scheme: dark;
}

@media (width >= 48rem) {
  :root {
    --text-h1: 2.5rem;
    --text-h3: 1.5rem;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  /* font-family: theme("fontFamily.sans"); */
}

.text {
  color: var(--text-primary);
  border-radius: 0.75rem;
}

.titleH1 {
  font-size: var(--text-h1);
  font-weight: 700;
}

.titleH3 {
  font-size: var(--text-h3);
}

.icon {
  color: var(--text-primary);
}

.background {
  color: var(--background);
  border-color: var(--border-color);
  @apply border-b
}