@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #F7F9FC;
  --background-theme: #ececec;
  --background-theme-icon: #FFFFFF;
  --menu-background: #ffffff;
  --menu-icon-background: #1d293d;
  --foreground: #171717;


  
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-date: #4a5565;

  --border-color: #b5b9c0;
  --border-color-menu-item: #b5b9c0;

  --text-h1: 1.25rem;
  --text-h2: 0.875rem;
  --text-h3: 0.875rem;
  --text-h4: 0.65rem;

  --text-subtitle: #2057ce;

  --experience-line-color: #2F2E41;

  --btn-social-media: #f1f5f9;
  --color-linetime: #4a5565;

  color-scheme: light;
}

[data-theme="dark"] {
  --background: #22202B;
  --background-secondary: #181621;
  --menu-background: #22202B;
  --menu-icon-background: #e2e8f0;
  --background-theme: #000;
  --background-theme-icon: #22202B;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  --text-subtitle: #3B82F6;
  --text-date: #ffffffCC;

  --border-color: #e2e8f0;
  --border-color-menu-item: #e2e8f0;
  --experience-line-color: #cbd5e1;

  --btn-social-media: #1d293d;
  --color-linetime: #ffffff;
  color-scheme: dark;
}

@media (width >= 48rem) {
  :root {
    --text-h1: 2.5rem;
    --text-h2: 1.75rem;
    --text-h3: 1.5rem;
    --text-h4: 1.25rem;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-sans);
}

@layer components {
  .typography {
    color: var(--color-gray-950);
    a {
      color: var(--color-blue-500);
      &:hover {
        color: var(--color-blue-800);
      }
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html{
    scroll-behavior: smooth;
    /* scroll-padding-top: 1rem; */
}

.profile-layout{
    padding-top: 4rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  /* font-family: theme("fontFamily.sans"); */
}

.text {
  color: var(--text-primary);
}

.dateText {
  color: var(--text-date);
}

.titleH1 {
  font-size: var(--text-h1);
  font-weight: 700;
}

.titleH2 {
  font-size: var(--text-h2);
}

.titleH3 {
  font-size: var(--text-h3);
}

.titleH4 {
  font-size: var(--text-h4);
}

.subtitle {
  color: var(--text-subtitle);
  font-weight: 600;
}

.icon {
  color: var(--text-primary);
}

.background {
  color: var(--background);
  /* @apply border-b */
}

.background-secondary {
  background-color: var(--background-secondary);
}

.background-theme-icon {
  background-color: var(--background-theme-icon);
}

.background-theme {
  background-color: var(--background-theme);
}

.background-btn-social-media:hover {
  background-color: var(--btn-social-media);
}

.border-menu-item {
  border-color: var(--border-color-menu-item);
}

.menu-color {
  border-color: var(--border-color);
}

.menu-icon-background {
  background-color: var(--menu-icon-background);
}

.menu-background {
  background-color: var(--menu-background);
}

.line-time {
  border-color: var(--color-linetime);
}

li::marker {
  color: transparent;
}

.brillo {
  /* background-color: rgba(255, 255, 255, 0.4); */
  -webkit-backdrop-filter: brightness(150%);
  backdrop-filter: brightness(150%);
  /* padding: 20px;
  margin: 30px; */
  font-weight: bold;
}

.pointExperience {
  background-color: var(--experience-line-color);
}

.lineExperience::before {
  border-color: var(--experience-line-color);
}