@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --text-primary: #0f172a;
  --text-secondary: #475569;
  color-scheme: light;
}

[data-theme="dark"] {
  --bg-default: #020617;
  --bg-muted: #020617;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --border-color: #1e293b;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  color: var(--text-primary);
  /* color: white; */
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}