@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}
body{
    height: 100%;
    position: relative;
    @apply font-onest
}
h1{
    @apply font-onest
}
h3{
    @apply font-onest
}

.button{
    z-index: 2;
}
/* HEADER */
.header{
    @apply p-0 w-full sm:w-auto rounded-lg ;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    scroll-behavior: smooth;
}

.header-open{
    @apply opacity-100;
    top: 64px;
}

.header-close{
    @apply opacity-0;
    top: -350px;
    /* left: 64px; */
}

.menu-item{
    @apply p-4 hover:text-indigo-800 dark:hover:text-gray-400 text-black dark:text-white bg-white sm:bg-inherit dark:bg-black/90 dark:sm:bg-inherit w-full sm:w-max border-b dark:border-0 text-center sm:border-0 cursor-pointer;

    /* bg-white/90 dark:bg-gray-900/90 dark:sm:bg-inherit */
}
.header-nav{
    @apply bg-white sm:bg-inherit dark:bg-black/90 dark:sm:bg-inherit;
}
.header-container {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
}

/* .header {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
}
.btn-theme{
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
} */

/* PROFILE */
.profile-layout{
    padding-top: 4rem;
}
@media (min-width: 640px ) { /* de 600 en adelante toma en cuenta este codigo*/
    .profile-layout{
        padding-top: 9rem;
        padding-bottom: 3rem
    }
}


@keyframes nav-shadown {
    to {
        @apply shadow-xl ring-1 backdrop-blur ring-gray-500/20;
        border-bottom: 1px solid rgb(158, 158, 158);
        /* dark:bg-gray-800/60 */
        /* bg-white/60 */
    }
}